.site-header {
  position: absolute;
  z-index: 2;
  background-color: $headerBlue;
  width: 100%;
  padding: 10px 0;

  &__btn_container {
    float: right;
  }

  &__logo {
    position: absolute;
    background-color: $mainBlue;
    padding: 25px 36px;
    top: 0;
  }
}
